/*╔═══════════════╗
      VARIABILI
  ╚═══════════════╝*/

 :root{
    /*- COLORI TESTO -*/
    --clr-txt: #000;
    --clr-txt: #fff;
    --clr-ttl: #000;
    /*- COLORI BG -*/
    --clr-bg: #000;
    /*- COLORI BOTTONI -*/
    --clr-btn-1: #363636;

    /*- ALTEZZA ELEMENTI FIXED -*/
    --height-header: 100px;

    /*- DIMENSIONI GUTTER*/
    --gutter-xs: 0.25rem;
    --gutter-sm: 0.5rem;
    --gutter-md: 1rem;
    --gutter-lg: 1.5rem;
    --gutter-xl: 2rem;
}

/*╔═══════════════╗
       DEBUG
  ╚═══════════════╝*/
  .debug header{
      background-color: aqua;
  }

  .debug aside{
      background-color: black;
  }

  .debug .content{
      background-color: coral;
  }
  
  .debug footer{
      background-color: brown;
  }
  
/*╔═══════════════╗
       COMMON
  ╚═══════════════╝*/

/*--- TYPO ---*/
body{
    font-family: 'Lato', sans-serif;
    color: var(--clr-txt);
}

/*--- BUTTON ---*/

.btn_pillow{
    padding: .375rem 1rem;
    border-radius: 1rem;
}

.btn_accedi{
    background-color: var(--clr-btn-1);
    color: var(--clr-txt-1);
}




/*╔═══════════════╗
    TAG SEMANTICI
  ╚═══════════════╝*/

header{
    position: fixed;
    width: 100%;
    height: var(--height-header);
}


/* --- HEADER TOP ---  */
.header-top{
    background-color: var(--clr-bg);
    padding: var(--gutter-sm);
}

.logo-top{
    width: 110px;
}


/* --- HEADER BOT ---  */
.header-bot li a i {
    font-size: 1.5rem;
}

